body {
    margin: 0px;
    font-family: 'Sen', sans-serif;
}

.centralizer {
    max-width: 1170px;
    margin: auto;
}

.covid_announcement {
    font-size: 17px;
    background-color: #222;
    text-align: center;
    padding: 22px;
}

.button1 {
    height: 33px;
    width: 150px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    background-color: #eb5757;
    border: solid #eb5757;
    border-radius: 20px;
    cursor: pointer;
}

.nav-bar {
    padding-top: 20px;
    padding-bottom: 18px;
    background-color: #eb5757;
}

.menu {
    margin: auto;
    display: inline;
    float: right;
}

li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
}

.button2 {
    height: 32px;
    width: fit-content;
    font-size: 16px;
    font-family: 'Sen', sans-serif;
    color: white;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2:hover {
    background-color: #222;
}

.button3 {
    height: 32px;
    width: 50px;
    background-color: #222;
    border: solid #222;
    border-radius: 5px;
    cursor: pointer;
}

.counter {
    position: absolute;
    margin-top: -32px;
    margin-left: 30px;
    background-color: white;
    color: #222;
    font-family: 'Sen', sans-serif;
    font-size: 11.5px;
    width: 18px;
    height: 16px;
    border-radius: 10px;
}

.counter_text {
    position: absolute;
    margin-top: 1px;
    margin-left: 6px;
}

.presentation {
    font-size: 18px;
    height: 550px;
    max-width: 100%;
    background-image: url(images/imagem1.jpg), linear-gradient(to top, rgba(49, 49, 49, 0.842), rgb(194, 194, 194, 0.808), rgb(240, 240, 240));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -42px;
}

h1 {
    font-size: 62px;
    color:white;
    padding-top: 139px;
}

.button4 {
    height: 35px;
    width: 130px;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: solid white;
    border-width: 1px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4:hover {
    color: #222;
    background-color: white;
    border: solid white;
}

.ways_to_support_box {
    font-family: 'Sen', sans-serif;
    color: #333;
}

.support {
    width: auto;
    max-width: 500px;
    display: inline-block;
    position: relative;
    margin-right: 165px;
}

.covid19_text {
    width: auto;
    max-width: 500px;
    display: inline-block;
    position: relative;
    line-height: 24px;
}

.shop_donate_gift {
    color: #333;
    line-height: 24px;
}

.container1 {
    width: auto;
    height: 520px;
}

.espaco1 {
    width: 360px;
    margin: 15px;
    float: left;
}

.quadrado {
    color: white;
    background-color: #222;
    height: 270px;
    padding: 30px;
    border-radius: 5px;
    margin: 15px;
    overflow: hidden;
}

.figuras_geo1 {
    margin-left: 220px;
    margin-top: -28px;
}

.figuras_geo2 {
    margin-left: 172px;
    margin-top: -3px;
}

.figuras_geo3 {
    margin-left: 230px;
    margin-top: -30px;
}

.covid_announcement2 {
    font-size: 18px;
    height: 590px;
    max-width: 100%;
    background-image: url(images/imagem2.jpg), linear-gradient(to top, rgba(49, 49, 49, 0.842), rgb(194, 194, 194, 0.808), rgb(240, 240, 240));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titulo_ca2 {
    font-size: 48px;
    color:white;
    margin-top: 139px;
    float: right;
    font-family: 'Sen', sans-serif;
    text-align: right;
}

.texto_ca2 {
    color:white;
    float: right;
    text-align: right;
    margin-top: 10px;
    margin-left: 400px;
    line-height: 140%;
}

.button5 {
    height: 35px;
    width: 205px;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    color: #222;
    text-decoration: none;
    background-color: white;
    border: solid white;
    border-width: 1px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.shop_products {
    font-family: 'Sen', sans-serif;
    color: #333;
    height: 800px;
}

.container2 {
    width: auto;
    height: 600px;
}

.espaco2 {
    width: 390px;
    float: left;
}

.item_display {
    width:370px;
    height:450px;
    object-fit: cover;
    border-radius: 5px;
    display:inline;
}

.product_title {
    text-align: center;
}

.product_price {
    font-size: small;
    text-align: center;
    margin-top: -10px;
    padding-bottom: 5px;
}

.button6 {
    margin-left: 144px;
    height: 35px;
    width: 100px;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #eb5757;
    border: solid #eb5757;
    border-width: 1px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button6:hover {
    color: white;
    background-color: #222;
    border: solid #222;
}

.button8 {
    height: 30px;
    width: 80px;
    font-family: 'Sen', sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    background-color: #eb5757;
    border: solid #eb5757;
    border-width: 1px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    margin-left: 269px;
    margin-top: 18px;
}

.button8:hover {
    color: white;
    background-color: #222;
    border: solid #222;
}

.button7 {
    margin-top: 50px;
    margin-left: 480px;
    height: 35px;
    width: 200px;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #222;
    border: solid #222;
    border-width: 1px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button7:hover {
    color: white;
    background-color: #eb5757;
    border: solid #eb5757;
}

.shop_local_container {
    height: 635px;
}

.foto_mulher_box {
    width: 350px;
    height: 450px;
    border-radius: 5px;
    float: left;
    margin-top: 35px;
    overflow: hidden;
}

.foto_mulher_box > img {
    width: 635px;
    height: 635px;
    object-fit: cover;
    object-position: bottom 145px right 100px;
}

.shop_local_box {
    color: white;
    background-color: #222;
    border-radius: 5px;
    max-width: auto;
    margin-left: 235px;
    height: 560px
}

.shop_local_text {
    max-width: 400px;
    margin-left: 340px;
    line-height: 23px;
    text-align: left;
    padding-top: 40px;
}

.shop_local_text > h2 {
    font-size: 44px;
    line-height: 10px;
}

.footer {
    background-color: #222;
    height: 160px;
}

.acme_logo_footer {
    margin-top: 65px;
    float: left;
}

.social_media {
    height: 30px;
    width: 30px;
    padding: 10px;
    float: right;
    margin-top: 55px;
}